<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Control de asistencia.
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <h3 id="seneca-heading1">
        Bienvenido a la aplicación de Control de asistencia
    </h3>

    <div id="container">
        <form [formGroup]="loginForm" (ngSubmit)="login()" id="seneca-form3">
            <ion-item id="seneca-input2">
                <ion-label>
                    Usuario
                </ion-label>
                <ion-input type="text" formControlName="user" placeholder="" id="user" [(ngModel)]="user" name="user" required></ion-input>
            </ion-item>

        <div class="spacer" style="width:100px;height:18px;" id="seneca-spacer2"></div>
            <ion-item id="seneca-input4">
                <ion-label>
                    Contraseña
                </ion-label>
                <ion-input type="password" formControlName="password" placeholder="" id="pass" [(ngModel)]="password" name="password" required></ion-input>
            </ion-item>

        <div class="spacer" style="width:100px;height:18px;" id="seneca-spacer3"></div>
        <ion-button type="submit" (click)="login()" id="seneca-button1">
            <ion-icon name="checkmark"></ion-icon>
            Conectar
        </ion-button>
        <ion-button id="seneca-button4" routerLink="/registro/" router-direction="forward">
            <ion-icon name="checkmark"></ion-icon>
            ¿No tienes cuenta? Crea una
        </ion-button>
        <ion-button id="seneca-button3" block>
            ¿Necesitas ayuda?
        </ion-button>
        </form>
    </div>
</ion-content>
